body {
    background-color: #fffffd;
}

h2 {
    color: black;
}

p {
    color: black;
}

ol {
    position: absolute; right: 53%; top: 32%; text-transform: uppercase;
}

li {
    list-style-type: none; color: black;
}

h1.titlle {
    color: blue; position: relative;
}

div.figure {
    background-color: rgb(142, 186, 243); width: 700px; height: 200px;
}

menu {
    display:flex; list-style: none; padding: 0;
    width: 650px; position: relative; height: 80px;
}

li {
    flex-grow: 2;
}

button {
    width: 100%;
}